.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIA QUERY */

/* Ipad bonus start*/

@media screen and (max-width: 768px) {

  body {
    background-color: #00DBDE;
    background-image: linear-gradient(315deg, #00DBDE 0%, #FC00FF 100%); 
  }

  .row {
    width: 100%;
  }

#lezioni .row>.left,
#lezioni .row>.right {
  width: 100%;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 100%;
}

#lezioni {
  background-color: #00DBDE;
  background-image: linear-gradient(18deg, #00DBDE 0%, #FC00FF 100%);
  border-radius: 10px;
  color: white;
}

#steps {
  border-radius: 10px;
  color: white;
  background-color: #00DBDE;
  background-image: linear-gradient(101deg, #00DBDE 0%, #FC00FF 100%);
}

#why {
  border-radius: 10px;
  color: white;
  background-color: #00DBDE;
  background-image: linear-gradient(180deg, #00DBDE 0%, #FC00FF 100%); 
}
}
/* Ipad bonus end*/

@media screen and (max-width: 420px) {
  body {
    background-color: #4158D0;
    background-image: linear-gradient(298deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }

  .row {
    width: 100%;
  }

#lezioni .row>.left,
#lezioni .row>.right {
  width: 100%;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 100%;
}

#lezioni {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 10px;
  color: white;
}

#steps {
  border-radius: 10px;
  color: white;
  background-color: #4158D0;
  background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#why {
  border-radius: 10px;
  color: white;
  background-color: #4158D0;
  background-image: linear-gradient(180deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
}

/* MEDIA QUERY */


